
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.animate-pop {
    animation: pop 0.3s ease;
}